.footer {
    color: $fed-tan-200;
    background-color: $fed-text-color;
    @include padding(25px, null, 25px, null);

    .footer__logo img {
        width: 70px;
    }
    .container {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer__social ul {
        display: flex;
        justify-content: space-between;

        li {
            margin-right: 15px;
        }
    }
    .fab {
        font-size: 20px;
        color: $fed-tan-200;
    }
}