//==================================
// Color Palette
//==================================
$fed-black: #000000;
$fed-white: #FFFFFF;

$fed-tan-200: #B5A484;
$fed-tan-100: #F3F1ED;

$fed-red-200: #932525;
$fed-red-100: #BD3131;

$fed-text-color: #1E1E1E;


//==================================
// Font Family
//==================================
$body-font: "Open Sans", sans-serif;
